/*This stylesheet contains the baseline colours and backgrounds for both pages*/

.container{
  background: rgb(255,255,250);
background: linear-gradient(159deg, rgba(255,255,250,0.7) 0%, rgba(71,168,201,1) 42%, rgba(54,151,184,0.7) 75%, rgba(6,71,172,0.5) 96%);
}

header{ 
    background: url('../img/water_bubbles.jpg');
    background-size:cover;
    background-position:0% 43%;
    padding:0.25rem;
}
header a, .thumbnail>.txt_section a, .sidebar_links a{text-decoration:none;}
header a:hover,.thumbnail>.txt_section a:hover, .sidebar_links a:hover{text-decoration:underline;}

header a:visited{color:#ffffff;}

header h2{font-style:italic;color:#ffffaa;}

header a:hover{content:icon('fa-home');}
.sidebar_links ul, li{
  list-style-type: none;
}

.sidebar_links a::before{
    content:'\1F30A';
  }

  
.box{
  border: 1px solid #888888;
  }

.social_bar{
    font-size:smaller;
    border:1px solid lightgray;
    border-radius:0.5rem;
    background:lightgray;
}

.social_bar img {
    height:24px;
  }
.social_bar a[href*="twitter"]:hover::after{content:'Twitter'}
.social_bar a[href*="linkedin"]:hover::after{content:'LinkedIn'}
.social_bar a[href*="facebook"]:hover::after{content:'Facebook'}

.credits p{font-size:smaller;}


